@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
     margin: 0;
     padding: 0;
     color: black;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}





:root {

     --colorPrimario: silver;
     --colorPrimario1: #F0F4F6;
     --colorPrimario2: #064E52;
}

html {
     scroll-behavior: smooth;
}



header {
     background-color: slategrey;

     display: flex;
     justify-content: space-around;
     align-items: center;



}

.logo {


     display: flex;
     width: 10%;
     border-radius: 100%;
     margin-right: 40vw;





}

a {

     text-decoration: none;
     color: silver;
     text-transform: capitalize;
}

nav>a {
     color: silver;


     margin-left: 15px;

}

nav>a:hover {
     background-color: slategray;
}

.left .content .social {
     margin: 50px 0 0 0;
}

.left .content .social a {
     padding: 0 2px;
}

.content .social {

     height: 100px;
     width: 100px;

     line-height: 100px;
     text-align: center;
     font-size: 40px;
     border-radius: 5px;
     transition: 0.3s;
}

.content .social :hover {
     background: grey;
}

.hamburguesa {
     display: none;



}





.content1 {
     position: relative;
     margin: 130px auto;
     text-align: center;
     padding: 0 20px;
}

.content1 .text {
     font-size: 2.5rem;
     font-weight: 600;
     color: black;
}

.content1 .p {
     font-size: 2.1875rem;
     font-weight: 600;
     color: black;
}

.contenedorHero {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background: url(./Imagenes/acantilado.jpeg);
     background-size: 150rem;
     background-position: center;

}


.tituloHero {
     font-size: 60px;

     text-transform: initial;
     color: silver;
     padding: 1.5rem 0;
     text-align: center;
     font-weight: lighter;
     -webkit-text-stroke: 1px black;
}




.aboutImagen {

     width: 30%;





}

.textoPrincipal {

     text-align: center;
     text-transform: uppercase;
     padding: 50px 0;
     letter-spacing: 0.5rem;
     font-size: 2rem;




}

.textoSecundario {
     background-color: #ecf0f1;
     font-size: 30px;
     text-align: center;
     font-size: 2rem;


}




p {

     font-size: 20px;

}

.ContenedorImgTexto {

     display: flex;
     justify-content: center;
     width: 100%;
     flex-wrap: wrap;
     align-items: center;

}

.ContenedorTextoAbout {

     width: 40%;
     margin-left: 4rem;


}

.weddings {

     width: 60%;
}




.btnAbout {
     background-color: #2f3640;
     font-size: 1rem;
     padding: 5px;
     color: silver;
     letter-spacing: 0.5rem;
     text-transform: uppercase;
     border: 1px solid var(--colorPrimario);
}


.btnAbout:hover {
     background-color: slategray;
}


span {
     color: var(--colorPrimario);
}

.about {
     padding-bottom: 3.5rem;
}

.contenedorBoda {

     width: 500px;
     height: 100vh;
}




.portfolio {
     background-image: linear-gradient(to right top, #b5abb1, #bdb5bd, #c5bec9, #ccc9d5, #d2d3e1, #cbd1e0, #c5d0de, #becedb, #abc0ca, #9ab2b9, #8aa4a6, #7c9694);
     display: flexbox;
}

.galeria {
     width: 100%;
     display: flex;
     flex-wrap: wrap;


}

img {
     width: 25%;
}

.contact {
     background-color: #f1f2f6;

     width: 100%;
     height: 90vh;
}

footer {

     bottom: 0px;
     width: 100%;

}

.logo1 {
     border-radius: 100%;
     width: 70%;
}

.main-content {
     display: flex;
}

.main-content .box {
     flex-basis: 50%;
     padding: 10px 20px;
}

.box h2 {
     font-size: 1.125rem;
     font-weight: 600;
     text-transform: uppercase;
}

.box .content {
     margin: 20px 0 0 0;
     position: relative;
}

.box .content:before {
     position: absolute;
     content: '';
     top: -10px;
     height: 2px;
     width: 100%;

}

.box .content:after {
     position: absolute;
     content: '';
     height: 2px;
     width: 15%;

     top: -10px;
}



.left .content .social {
     margin: 50px 0 0 0;
}

.left .content .social a {
     padding: 0 2px;
}

.left .content .social {
     height: 100px;
     width: 100px;

     line-height: 100px;
     text-align: center;
     font-size: 40px;
     border-radius: 5px;
     transition: 0.3s;
}

.left .content .social :hover {
     background: grey;
}

.centerBox {


     padding: 50px 40px;

     font-size: 1.2rem;
     font-style: oblique;




}



.center .content .text {
     font-size: 1.0625rem;
     font-weight: 500;
     padding-left: 10px;
}

.center .content .phone {
     margin: 15px 0;
}

.right form .text {
     font-size: 1.0625rem;
     margin-bottom: 2px;
     color: black;
}

.right form .msg {
     margin-top: 10px;
}

.right form input,
.right form textarea {
     width: 100%;
     font-size: 1.0625rem;

     padding-left: 10px;

}

.right form input:focus,
.right form textarea:focus {
     outline-color: red;
}

.right form input {
     height: 35px;
}

.right form .btn {
     margin-top: 10px;
}

.right form .btn button {
     height: 40px;
     width: 100%;
     border: none;
     outline: none;
     background: silver;
     font-size: 1.0625rem;
     font-weight: 500;
     cursor: pointer;
     transition: .3s;
}

.right form .btn button:hover {
     background: gray;
}

.bottom center {
     padding: 5px;
     font-size: 0.9375rem;

}

.bottom center span {
     color: #656565;
}


.bottom center a:hover {
     text-decoration: underline;
}

@media(max-width:500px) {



     /* nav,
     div {
          visibility: hidden;
          display: none;

     }

     .hamburguesa {

          display: block;
          color: silver;
          cursor: pointer;
          font-size: 55px;
     }*/

     header {
          flex-direction: column;
     }

     nav {
          display: flex;
          flex-direction: column;
     }

     .ContenedorTextoAbout {
          display: contents;
     }

}

.portfolio {
     display: flex;


}

@media screen and (max-width: 500px) {
     footer {


          position: relative;
          bottom: 0px;
     }

     .main-content {
          flex-wrap: wrap;
          flex-direction: column;
     }

     .main-content .box {
          margin: none;
     }

}


@media screen and (max-width: 900px) {
     footer {
          position: relative;
          bottom: 0px;
     }

     .main-content {
          flex-wrap: wrap;
          flex-direction: column;
     }

     .main-content .box {
          margin: none;
     }
}


/*****Eliminar border por defecto de un botton */
input {
     border: none;
     outline: none;
}

textarea {
     outline: none;
     outline: none;
}

/*********/




@media (orientation: landscape) {
     .custom-background:after {
          height: calc(100vw * 3 / 4);
     }
}